{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "plugins": ["@prettier/plugin-xml"],
    "overrides": [
        {
            "files": ["*.svg"],
            "options": {
                "tabWidth": 2,
                "useTabs": false,
                "bracketSameLine": false,
                "singleAttributePerLine": false,
                "xmlSortAttributesByKey": true,
                "xmlWhitespaceSensitivity": "strict"
            }
        }
    ]
}
