*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgrey;
}

main {
  height: 100vh;
  width: 80%;
  background-color: white;
  margin: auto;
}

.img-center {
  text-align: center;
}

.img-center > img {
  width: 70%;
  border: 1px solid black;
  padding: 2px;
  transition: all 0.6s ease-in-out;
  border-radius: 10%;
}

.img-center > img:hover {
  transform: scale(1.2);
  border-radius: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul.navbar {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

h1 {
  height: 160px;
  background-image: url("https://images.unsplash.com/photo-1434394354979-a235cd36269d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG1vdW50YWluc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Zentriere alle Elemente in dem Container, setze die Höhe und die Breite fest. */
.container-with-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
}

/* Setze den Container mit dem Inhalt vor den Hintergrund, damit können sich
   Elemente überlappen. */
.container-with-bg > div.content {
  color: white;
  z-index: 1;
}

/* Nimm den Bild-Container aus dem normalen Dokumentenfluss raus, und verstecke
   alles was über das enthaltende Element heraus läuft. */
.container-with-bg > div.bg-img {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

/* Skaliere das Bild auf die volle Breite und zentriere es vertikal. */
.container-with-bg > div.bg-img > img {
  width: 100%;
  transform: translateY(-50%);
}

/* Erstellt einen Container mit 2 Elementen nebeneinander. */
.text-next-to-img {
  display: grid;
  grid-template-columns: 70% auto; /* gibt an wie der Platz aufgeteilt wird. */
  gap: 1rem; /* Gibt an wie viel Platz zwischen den Elementen ist. */
}

/* Gibt Stiele für den Textblock an. */
.text-next-to-img > .text {
  border: 1px solid lightgray;
  padding: 1rem 2rem;
}

/* Macht dass das Bild die Breite des Containers annimmt. */
.text-next-to-img > img {
  width: 100%;
}
