*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgrey;
}

img.bg,
img.fg {
    position: absolute;
    inset: 0;
    width: 100%;
}

.img-container {
    position: relative;
}

img.bg {
    z-index: 5;
    opacity: 0.2;
}

img.fg {
    opacity: 1;
    z-index: 10;
}

img.bg.show-diff {
    z-index: 15;
    opacity: 0.5;
    filter: invert(100%);
}

main {
    height: 100vh;
    width: 80%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.ex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
