*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgrey;
}

img.bg,
img.fg {
    position: absolute;
    inset: 0;
    width: 100%;
}

.img-container {
    position: relative;
}

img.bg {
    opacity: 0.2;
    z-index: 5;
}

img.fg {
    opacity: 1;
    z-index: 10;
}

main {
    height: 100vh;
    width: 80%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}
